<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="https://snipp.ru/cdn/bootstrap/4.3/bootstrap.min.css">
</head>
<body>
<div th:switch="${users}">
    <h2 th:case="null">No users found!</h2>
    <div th:case="*">
        <h2>Users</h2>
        <table>
            <thead>
            <tr>
                <th>Login</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Age</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.username}"></td>
                <td th:text="${user.firstname}"></td>
                <td th:text="${user.lastname}"></td>
                <td th:text="${user.age}"></td>
                <td><a th:href="@{user-update/{username}(username=${user.username})}">Edit</a></td>
                <td><a th:href="@{user-delete/{username}(username=${user.username})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/manager/user-create">Create user</a></p>
    <br>
    <p><a href="/">Home</a></p>
</div>
</body>
</html>


